.home {
  height: 94%;
  overflow: auto;
}
.homeComponent {
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 6px 6px;
  width: 40%;
  margin: 5px auto;
} 
.inputPost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputPost h2{
  color: white;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.inputPost label {
  margin-top: 15px;
  color: rgb(255, 255, 255); 
}
.inputPost input {
  width: 60%;  
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(33, 37, 41);
  color: white;
}
.inputPost textarea {
  width: 60%; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(33, 37, 41);
  color: white;
}
.inputPost .postButton {
  margin-top: 15px;
  margin-bottom: 30px;
}
.posts p { 
  color: rgb(255, 255, 255);
}
.posts {
  margin-bottom: 3px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
}
.cardFooter {
  display: flex;
  justify-content: right;
  font-size: small;
}
.cardFooterButton:hover{
  cursor: pointer;
}
.deleteButton {
  color: rgb(216, 22, 22);
}
.posts .cardAuthor{
  font-size: small;
}
.Posts .refreshIcon {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .home {
      width: 100%;
      height: 85%;
      grid-template-columns: 15px auto 15px;
  }
}