.navbar {
    height: 6%;
}

.navbarBrand {
    width: 90%;
}

.navbar p {
    color: white;
    margin-top: 15px;
    text-align: center;
}

.navbar .profilePic {
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}