.Sidebar {
    float: left;
    height: 94%;
    width: 15%;
    border: 1px solid black;
    background-color: rgb(33, 37, 41);
    color: white;
    display: flex;
    flex-direction: column;
}
.Sidebar :hover{
    background-color: rgb(54, 54, 179);
}

.Sidebar li{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .Sidebar {
        flex-direction: row;
        height: 6%;
        width: 100%;
    }

    .Sidebar li .title {
        display: none !important;
    }
    
    .Sidebar li{
        width: 25%;
        height: 100%;
        border-left: 1px solid black;
        border-bottom: 0px;
        justify-content: center;
    }

    .Sidebar li:last-of-type{
        border-right: 1px solid black;
    }
}